# Medias Don't push for production
# media
#.static

# Access Don't push for production
# access.py

# Old files
*.old

# Database Don't push for production
# *.sqlite*
# *.db

# Python
*.pyc

# Tmp elements
*_old.*
*-old.*

# Node modules
node_modules/

# Dev Tools
.vscode