{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Figurines' %}{% endblock %}


{% block content %}
<div class="sub-container full">
    <h1>{% trans "Figurines" %}</h1>
    {% if figurines|length == 0 %}
        <h2>{% trans "Oops ! Il semblerais que l'on soit a court de marchandises ici.. Revenez plus tard ou visitez d'autres coins du site !" %}</h2>
    {% endif %}
    <div class="mangas-gallery-container">
        {% for figurine in figurines %}
            {% include "figurine-bloc-item.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/product-gallery.js' %}"></script> 
{% endblock %}