{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Figurines' %}{% endblock %}

{% block content %}
<div class="sub-container full">
    <h1>{{figurine.name}}</h1>
    <div class="product-details-container">
        <div class="left-product-details">
            <img src="{{figurine.get_picture_url}}">
        </div>
        <div class="mid-product-details">
            <h3>{% trans "Description" %}</h3>
            <p>{{figurine.description}}</p>
        </div>
        <div class="right-product-details">
            <div class="product-options">
                <h2>{% trans "Prix :" %} {{figurine.price}}</h2>
                {% if figurine.quantity > 0 %}
                    <h2 class="product-has-stock">{% trans "En Stock" %}</h2>
                    <h2>{% trans "Quantité :" %} {{figurine.quantity}}</h2>
                    <form class="shoppingadd-form" method="post">
                        {% csrf_token %}
                        {{form.product_id}}
                        <select id="select-quantity" class="select-quantity-product">
                            {% for i in figurine.quantity_range %}
                                <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                            {% endfor %}
                        </select>
                        {{form.quantity}}
                        <div class="product-options-buttons">
                            <button type="submit" class="shoppingcart-button">{% trans "Ajouter au panier" %}</button>
                            <a class="wishlist-button">{% trans "Ajouter a la liste de souhait" %}</a>
                        </div>
                    </form>
                {% else %}
                    <h2 class="product-has-no-stock">{% trans "Plus de Stock" %}</h2>
                {% endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/product-details.js' %}"></script> 
{% endblock %}