{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans 'Mangas' %}{% endblock %}

{% block content %}
<div class="sub-container full">
    <h1>{{manga.title}} {% trans "Volume n°" %}{{manga.volume}}</h1>
    <div class="product-details-container">
        <div class="left-product-details">
            <img src="{{manga.get_picture_url}}">
            <div class="product-sub-details">
                <p>{% trans "Auteur" %} : <span>{{manga.author}}</span></p>
                <p>{% trans "Année de parution" %} : <span>{{manga.release}}</span></p>
                <p>{% trans "Type" %} : <span>{{manga.category}}</span></p>
            </div>
        </div>
        <div class="mid-product-details">
            {% for theme in manga.get_all_themes %}
                <span>{{theme}}</span>
            {% endfor %}
            <h3>{% trans "Résumé" %}</h3>
            <p>{{manga.description}}</p>
        </div>
        <div class="right-product-details">
            <div class="product-options">
                <h2>{% trans "Prix :" %} {{manga.price}}</h2>
                {% if manga.quantity > 0 %}
                    <h2 class="product-has-stock">{% trans "En Stock" %}</h2>
                    <h2>{% trans "Quantité :" %} {{manga.quantity}}</h2>
                    <form class="shoppingadd-form" method="post">
                        {% csrf_token %}
                        {{form.product_id}}
                        <select id="select-quantity" class="select-quantity-product">
                            {% for i in manga.quantity_range %}
                                <option value="{{forloop.counter}}">{{forloop.counter}}</option>
                            {% endfor %}
                        </select>
                        {{form.quantity}}
                        <div class="product-options-buttons">
                            <button type="submit" class="shoppingcart-button">{% trans "Ajouter au panier" %}</button>
                            <a class="wishlist-button">{% trans "Ajouter a la liste de souhait" %}</a>
                        </div>
                    </form>
                {% else %}
                    <h2 class="product-has-no-stock">{% trans "Plus de Stock" %}</h2>
                {% endif%}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/main/product-details.js' %}"></script> 
{% endblock %}