{% load static %}
{% load i18n %}

<div class="product-container searchable" data-id="{{figurine.id}}" data-name="{{figurine}}">
    <div class="product-image-container">
        <img src="{{figurine.get_picture_url}}" />
    </div>
    <div class="product-title-container">
        <span>{{figurine.name}} {{figurine.collection}} </span>
    </div>
    <div class="product-price-container">
        <span>{{figurine.price}}€</span>
    </div>
    <div class="product-rate-container">
        <span>{{figurine.rate}}</span> 
    </div>
    <div class="product-action-container">
        <div class="product-buttons-container">
            <a href="{% url 'figurine-details' figurine.name figurine.id %}" >{% trans "Plus de détails" %}</a>
        </div>
    </div>
</div>