{% load static %}
{% load i18n %}

<div class="product-container searchable" data-id="{{manga.id}}" data-name="{{manga}}">
    <div class="product-image-container">
        <img src="{{manga.get_picture_url}}" />
    </div>
    <div class="product-title-container">
        <span>{{manga.title}} {% trans "Volume n°" %}{{manga.volume}}</span>
    </div>
    <div class="product-author-container">
        <span>{{manga.author}}</span>
    </div>
    <div class="product-price-container">
        <span>{{manga.price}}€</span>
    </div>
    <div class="product-rate-container">
        <span>{{manga.rate}}</span> 
    </div>
    <div class="product-action-container">
        <div class="product-buttons-container">
            <a href="{% url 'manga-details' manga.title manga.id %}" >{% trans "Plus de détails" %}</a>
        </div>
    </div>
</div>